*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: lightgray; */
    background-image: url("../images/background-menu.gif");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
h1{
    text-align: center;
    margin: 20px 0;
    color: white;
}
h2{
    text-align: center;
    border-bottom: 2px solid white;
    margin: 20px 0;
    color: white;
}
.lvl1{
    display: flex;
    justify-content: space-evenly;
}
.boat-div{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
}
button{
    width: 150px;
    height: 100px;
    border-radius: 12px;
    background-image: url("/images/lifesaver3.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-color: lightblue; */
    border: none;
    color: white;
    font-size: 20px;
}
a{
    display: flex;
    justify-content: center;
    /* width: 200px; */
    text-decoration: none;
}