*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
h1{
    text-align: center;
}
#the-canvas-div{
    display: flex;
    justify-content: center;
}
#myCanvas{
    background-image: url("../images/calm-dark-water.gif");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-color: lightblue; */
    border: 2px solid black;
}